html{
  letter-spacing: .15rem;
}

.banner{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.page-title{
  text-align: center;
}

.text-title{
  font-size: 1.2rem;
  margin-top: 2rem;
}


.restaurace{
  text-align: end;

}


#restaurace, #areal, #zajimavosti, #prohlidky,#kontakt{
  min-height: 45rem;
}
#galerie{
  min-height: 20rem;
}
#zajimavosti{
  margin-bottom: 60px;
}

#footer-bottom{
  min-height: 25rem;
  padding-top:2rem;
  text-align: center;
}

.hero-image {
  background-image: url('../img/img-hero.jpg');
}

.restaurace-image {
  background-image: url('../img/img-restaurace.jpg');
  overflow: hidden;
}

.prohlidky-image{
  background-image: url("../img/img-dalekohled.jpg");
}
.zazitky-image{
  background-image: url("../img/img-zazitky.jpg");
}

.kontakt-image{
  background-image: url("../img/img-kontakt.jpg");
}

.pronajem-image{
  background-image: url("../img/img-pronajem.jpg");
}

img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.logo{
  height: 9.5rem;

}

.logo-restaurace{
  padding:3rem 3.5rem 0 0;
  height: 12rem;
 
}

.navbar-default {
  background-color:transparent;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  position: absolute;
}

.fa-15x{
  font-size:1.9rem;
}

.kontakt-areal-logo{
  height:19rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  margin-bottom: 40px;
}

.kontakt-areal-text{
  margin:4.3rem 0 0 9rem;
}

.kontakt-areal-text-right{
  margin:4rem 0 0 0;
}

.areal-logo{
  height:15rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
  margin-bottom: 60px;

}

.areal-logo-down{
  margin-top: 270px;
  margin-bottom: 60px;
}

.areal-logo-restaurace{
  height:15rem;
  position: relative;
}

@media (max-width: 992px) {
  .areal-logo-down, .areal-logo{
    margin-top: 50px;
  }
  #video{
    height: 240px !important;;
  }
  .copy{
    padding: 0 0 1.5rem 0!important;
    text-align: center !important;
  }
  .kontakt-areal-text-right, .kontakt-areal-text{
    text-align: center;
    margin: 0rem !important;;
  }
  .second-order{
    order:1!important;
  }
}

.copy{
  padding-top: 15.33rem;
  text-align: right;
}

.video{
  text-align: center;
  padding: 10% 0 10% 0;
}

#video{
  width:70%;
  height:480px;
}

.footer{
  width: 100%;
}

.footer-text{
  padding-top: 2rem;
}

#footer-bottom .social a {
  text-align: center;
  height: 4rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 4rem;
}

.social{
  padding-top:3.5rem;
}

.icon{
  padding:1rem;
}

.tour-padding{
  padding:3rem 1rem 0rem 1rem;
}

.hover-overlay .mask{
  opacity: 0;
  transition: all .3s ease-in-out;
}
.hover-overlay .mask:hover {
  opacity: 1;
  }

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  }


.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  }