html{
  letter-spacing: .15rem;
}

.banner{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.page-title{
  text-align: center;
}

.text-title{
  font-size: 1.2rem;
  margin-top: 2rem;
}


.restaurace{
  text-align: end;

}


#restaurace, #areal, #zajimavosti, #prohlidky{
  min-height: 45rem;
}
#galerie{
  min-height: 20rem;
}
#zajimavosti{
  margin-bottom: 60px;
}

#footer-bottom{
  min-height: 25rem;
  padding-top:2rem;
  text-align: center;
}

.hero-image {
  background-image: url('../img/img-hero.jpg');
}

.restaurace-image {
  background-image: url('../img/img-restaurace.jpg');
  overflow: hidden;
}

.logo{
  height: 9.5rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.logo-restaurace{
  padding:3rem 3.5rem 0 0;
  height: 12rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.navbar-default {
  background-color:transparent;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  position: absolute;
}

.fa-15x{
  font-size:1.9rem;
}

.areal-logo{
  height:15rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 120px;
  margin-bottom: 60px;

}

.areal-logo-down{
  margin-top: 270px;
  margin-bottom: 60px;
}

.areal-logo-restaurace{
  height:15rem;
  position: relative;
}

@media (max-width: 992px) {
  .areal-logo-down, .areal-logo{
    margin-top: 50px;
  }
  #video{
    height: 240px !important;;
  }
  .copy{
    padding: 0 0 1.5rem 0!important;
    text-align: center !important;
  }
}

.copy{
  padding-top: 15.33rem;
  text-align: right;
}

.video{
  text-align: center;
  padding: 10% 0 10% 0;
}

#video{
  width:70%;
  height:480px;
}

.footer{
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.footer-text{
  padding-top: 2rem;
}

#footer-bottom .social a {
  text-align: center;
  height: 4rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 4rem;
}

.social{
  padding-top:3.5rem;
}

.icon{
  padding:1rem;
}

.info-image{
  background-image: url("../img/img-dalekohled.jpg");
  background-color: rgba(255, 255, 255, 0.5);
}

.image-tours{
  padding:3rem;
}